<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:render section="Variant-{data.tx_xo_variant}" optional="1" arguments="{_all}">

			<f:if condition="{element.media.0}">
				<f:render partial="Elements/IconText/Icon" section="Main" arguments="{element: element, icon: element.media.0}" />
			</f:if>

			<f:render section="Title" arguments="{_all}" />

			<f:if condition="{element.data.description}">
				<f:render section="Description" arguments="{_all}" />
			</f:if>

		</f:render>
	</f:section>

	<f:section name="Variant-1">
		<f:if condition="{element.media.0}">
			<f:render partial="Elements/IconText/Icon" section="Main" arguments="{element: element, icon: element.media.0}" />
		</f:if>

		<div class="icon-text--content">
			<f:render section="Title" arguments="{_all}" />

			<f:if condition="{element.data.description}">
				<f:render section="Description" arguments="{_all}" />
			</f:if>
		</div>
	</f:section>

	<f:section name="Title">
		<header class="icon-text--title">
			<f:render partial="Header/Header" arguments="{header: element.data.title, layout: element.data.title_type, link: element.data.link}" />
		</header>
	</f:section>

	<f:section name="Description">
		<div class="icon-text--body">
			<f:format.html>{element.data.description}</f:format.html>
		</div>
	</f:section>
</div>